.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border: none;
	outline: none;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
}

/* Color setter button */
.color-btn {
	border: 1px var(--border-base) solid;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	border-radius: 50%;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: 0 0.5rem;
}

.icon-visibility {
	visibility: hidden;
}

/* Primary button */
.btn-primary {
	background-color: var(--button-primary);
	color: var(--text-inverted);
	transition: background-color 0.1s linear;
}
.btn-primary:hover {
	background-color: var(--button-primary-hover);
	transition: background-color 0.1s linear;
}
.btn-primary:active {
	background-color: var(--button-primary-active);
	transition: background-color 0.1s linear;
}
.btn-primary:disabled {
	background-color: var(--button-primary-disabled);
	transition: background-color 0.1s linear;
	cursor: default;
}

.button span {
	margin-left: 0.3rem;
	margin-right: 0.3rem;
	margin-top: 0.2rem;
}

/* Secondary button */
.btn-secondary {
	background-color: var(--button-secondary);
	color: var(--text-base);
	transition: background-color 0.1s linear;
}
.btn-secondary:hover {
	background-color: var(--button-secondary-hover);
	transition: background-color 0.1s linear;
}
.btn-secondary:active {
	background-color: var(--button-secondary-active);
	transition: background-color 0.1s linear;
}
.btn-secondary:disabled {
	background-color: var(--button-secondary-disabled);
	transition: background-color 0.1s linear;
	cursor: default;
}

/* Custom classes */
.btn-full {
	width: 100%;
}

.btn-content {
	width: auto;
}

/* Color setter button colors */
.clr-default {
	background-color: var(--color-todo-default);
}
.clr-white {
	background-color: var(--color-todo-white);
}
.clr-gray {
	background-color: var(--color-todo-gray);
}
.clr-red {
	background-color: var(--color-todo-red);
}
.clr-yellow {
	background-color: var(--color-todo-yellow);
}
.clr-green {
	background-color: var(--color-todo-green);
}
.clr-blue {
	background-color: var(--color-todo-blue);
}
.clr-purple {
	background-color: var(--color-todo-purple);
}
