:root {
	--text-base: #ecf0f1;
	--text-muted: #8e9091;
	--text-inverted: #171717;
	--spinner-base: #ecf0f1;
	--spinner-inverted: #171717;
	--spinner-primary: #2ecc71;
	--color-bg: #171717;
	--color-primary: #2ecc71;
	--color-danger: #da0037;
	--color-selection: #2ecc7094;
	--color-scrollbar: #8e90916a;
	--color-scrollbar-hover: #a5a6a76a;
	--color-scrollbar-active: #6365666a;
	--color-todo-black: #171717;
	--color-todo-white: #ecf0f1;
	--color-todo-gray: #8e9091;
	--color-todo-red: #ff5f5f;
	--color-todo-yellow: #fffd5f;
	--color-todo-green: #2ecc71;
	--color-todo-blue: #5c80d3;
	--color-todo-purple: #ac54d2;
	--button-primary: #2ecc71;
	--button-primary-hover: #6ddb9c;
	--button-primary-active: #208f4f;
	--button-primary-disabled: #6ddb9c;
	--button-secondary: #171717;
	--button-secondary-hover: #2e2e2e;
	--button-secondary-active: #101010;
	--button-secondary-disabled: #2e2e4d;
	--border-base: #2e2e2e;
	--border-inverted: #d4d8d9;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* Unified page class for all pages */
.page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	padding: 2rem 1rem;
}

/* Autofill backgroud color and color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--color-bg) inset !important;
	-webkit-text-fill-color: var(--text-base) !important;
}

/* Selection color */
::-moz-selection {
	background-color: var(--color-selection);
	color: var(--text-base);
}

::selection {
	background-color: var(--color-selection);
	color: var(--text-base);
}

/* Custom scrollbar */
/* width */
.scrollbar::-webkit-scrollbar {
	height: 5px;
	margin-top: 5px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
	background-color: transparent;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
	background-color: var(--color-scrollbar);
	border-radius: 3px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
	background-color: var(--color-scrollbar-hover);
}

/* Handle on active */
.scrollbar::-webkit-scrollbar-thumb:active {
	cursor: pointer;
	background: var(--color-scrollbar-active);
}
